body {
    background-color: rgb(42, 45, 54);
    margin: 0;
}

.navbar {
    background-color: rgb(11, 12, 16);
    display: flex;
    align-items: center;

}

.image {
    margin-left: 50px;
}

.text {

    color: white;
    padding-right: 50px;
    margin-left: auto; 
    text-align: right;
    font-size: 26px;
}

.footer {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(11, 12, 16);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;

}

h2 {
    font-weight: bold;
    color: white;
    margin-bottom: 60px; 

}
.columns {
    display: flex;
    text-align: center;
    color: rgba(245, 245, 245, 0.588); 
}

.col1 {
    width: 33%;

}

.col2 {
    width: 33%;

}

.col3 {
    width: 33%;

}

.radioo {
    float: center;
}

.bt {
    background-color: rgb(42, 45, 54);
    font-size: 26px;
    border: 1px solid #ffffff;
    color: rgb(103, 103, 103);
    padding: 5px 40px;
    margin: 0 25px;
    border-radius: 8%;
}

.bt:hover {
    background-color: coral;
}
h1::after {
    content: '';
    position: absolute;
    bottom: 40px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 8%; 
    height: 1px; 
    background-color: white; 
}

.nabthat {
    color: rgb(46, 46, 46);
}
.radioo input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .press {
    background-color: rgb(11, 12, 16);
    border: 1px solid #ffffff;
    color: rgb(103, 103, 103);
    padding: 10px 70px;
    border-radius: 8%;

  }
  .fa-solid {
    margin-left: 5px;
  }
  
  .awesome {
    flex-direction: column;
    
    background-color: rgb(11, 12, 16);
    color: rgb(103, 103, 103);
    
  
}

